@charset "utf-8";

/*--------------------

    共通 

--------------------*/
* {
    font-family: 'メイリオ', 'Meiryo', 'Arial';
}

main {
    margin: 0 auto;
    max-width: 1280px;
}

h3 {
    margin: 8px 0;
}

img {
    max-width: 160px;
    max-height: 160px;
    object-fit: cover;
    display: inline-block;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

table {
    text-align: center;
}

tr {
    display: table-row;
    margin:  2em 0;
    padding: 1em 0;
    border-bottom: 2px solid black;
}

th, td {
    padding: 0 8px;
}

input {
    margin: 8px;
    padding: 8px 12px;
}

input[type="submit"] {
    cursor: pointer;
}

/*--------------------

    ヘッダー 

--------------------*/

/*--------------------

    フッター

--------------------*/