@charset "utf-8";

* {
    font-family: 'メイリオ', 'Meiryo', 'Arial';
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 1280px;
}

table {
    text-align: center;
}

.download_area {
    margin: 2em auto;
}

.form_list {
    margin: 1em auto;
}

input {
    margin: 8px;
    padding: 8px 12px;
}

@media (min-width: 750px) {
    .form_list dt,
    .form_list dd {
        display: inline-block;
        vertical-align: middle;
    }
    .form_list dt {
        width: 12%;
    }
    .form_list dd {
        width: 80%;
    }

    input[type="datetime-local"] {
        display: inline-block;
    }
    .form_list br {
        display: none;
    }
}

input[type="submit"] {
    cursor: pointer;
}

img {
    max-width: 240px;
    display: inline-block;
}

tr {
    display: table-row;
    margin:  2em 0;
    padding: 1em 0;
    border-bottom: 2px solid black;
}